<div class="container">
  <div class="notification is-primary">
    {{#if cartItems}}

    {{#grouped_each 4 cartItems}}
    <div class="row cart-row">
      {{#each this}}
      <div class="col-md-3 col-sm-6 product">
        <div class="thumbnail">
          <img src="{{Product.img}}" alt="{{Product.name}}">
          </a>
          <div class="caption">
            <h3>{{Product.name}}</h3>
            <p class="price">${{Product.price}}</p>
            <button id="minus-button">-</button>
         <span>{{cart.count}} </span>
          <button id="plus-button">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>