<div class="container">
  <div class="notification is-primary">
    <div class="row cart-row">
      <div class="col-md-3 col-sm-6 product">
        <div class="thumbnail">
          <img src="{{img}}" alt="{{name}}">
          </a>
          <div class="caption">
            <h3>{{name}}</h3>
            <p class="price">${{price}}</p>
            <button class="minus-button" data-productID="{{id}}">-</button>
            <span>{{qty}} </span>
            <button class="plus-button" data-productID="{{id}}">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


