<div class="container">
  <div class="notification is-primary">
    {{#if product}}

    {{#grouped_each 4 product}}
    <div class="row cart-row">
      {{#each this}}
      <div class="col-md-3 col-sm-6 product">
        <div class="thumbnail">
          <img src="{{img}}" alt="{{name}}">
          </a>
          <div class="caption">
            <h3>{{name}}</h3>
            <p class="price">${{price}}</p>
            <button id="minus-button">-</button>
         <span>{{qty}} </span>
          <button id="plus-button">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>