
  <a href="/product/{{id}}">
    <div class="box">
      <article class="media">
        <div class="media-left">
      <figure class="image is-256x256">
        <img  class="is-rounded" src="/images/{{filename}}" alt="{{description}}">
        </figure>
        
    </div>
    <div class= "product-info" >
        <span>{{name}}</span>
        <span>{{price}}</span>
    </div>
  </a>
  <div>
     <button class="custom-button minus-button" data-productid="{{id}}"><i>-</i></button>
     <span>{{qty}}</span>
     <button class="custom-button plus-button" data-productid="{{id}}"><i>+</i></button>
  </div>

  </div>
  </article>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


