
<div class="product-container">
  <a class="product" href="/product/{{id}}">
    <div class="item-card">
      <div class="overlay"></div>
        <img src="/images/{{filename}}" alt="{{description}}">
    </div>
    <div class= "product-info" >
        <span class= "product-name">{{name}}</span>
        <div>${{price}}</div>
    </div>
  </a>
  <div class="cart-options">
     <button class="custom-button minus-button" id="minus"><i>-</i></button>
     <span>{{qty.count}}</span>
     <button class="custom-button plus-button" id="plus"><i>+</i></button>
  </div>
</div>

