
  <a href="/product/{{id}}">
    <div class="box">
      <article class="media">
        <div class="media-left">
      <figure class="image is-256x256">
        <img  src="/images/{{filename}}" alt="{{description}}">
        </figure>
        
    </div>
    <div class= "product-info" >
       <div class="content is-large">
        <span>{{name}}</span>
        <span>{{price}}</span>
    </div>
  </a>
  <div class="">
     <button class="custom-button"><i>-</i></button>
     <span>{{qty.count}}</span>
     <button class="custom-button"><i>+</i></button>
     </div>
  </div>
  </div>
  </article>