
  <a href="/product/{{id}}">
    <div class="item-card">
        <img src="/images/{{filename}}" alt="{{description}}">
    </div>
    <div class= "product-info" >
        <span>{{name}}</span>
        <span>{{price}}</span>
    </div>
  </a>
  <div>
     <button id="minus-button" class="custom-button" data-productid="{{id}}"><i>-</i></button>
     <span>{{qty.count}}</span>
     <button id="plus-button" class="custom-button" data-productid="{{id}}"><i>+</i></button>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/cartManagement.js"></script>