<div class = "product-container">
        <h2>{{product.name}}</h2>
        <div class="product-img">
            <img src="/images/{{product.filename}}" alt="{{product.description}}">
            <div>
                {{product.description}}
            </div>
        </div>
        <div class="box has-background-danger-light">
            <article class="media">
            <button id="minus-button"><i>-</i></button>
            <p>1</p>
            <button id="plus-button"><i>+</i></button>
            <span><p> {{product.price}}</p></span>
            <button id="custom-button"><i>Add to Cart</i></button>
            </article>
        <div class="control">
  <textarea class="textarea has-fixed-size" placeholder="Fixed size textarea"></textarea>
  <button class="custom-button">Submit</button>
</div>
        </div>


        {{!-- <div class="comment-container">
        <form action=""></form>
            <label for="review"></label>
            <textarea name="review" placeholder="Write a Customer Review" rows="10" cols="100">
            </textarea>
            
        </form>
        </div> --}}
        
    </div>