<div class = "product-container">
        <h2>{{product.name}}</h2>
        <div class="product-img">
            <img src="/images/{{product.filename}}" alt="{{product.description}}">
            <div class="product-description">
                <h3>Product Description</h3>
                <br>
                {{product.description}}
            </div>
        </div>
        <div class="cart-options">
            <button class="custom-button" id="minus"><i>-</i></button>
            <span>1</span>
            <button class="custom-button" id="plus"><i>+</i></button>
            <span><p> ${{product.price}}</p></span>
            <button class="custom-button" id="add-to-cart"><i>Add to Cart</i></button>
        </div>
        <div class="comment-container">
        <form action=""></form>
            <label for="review"></label>
            <textarea name="review" placeholder="Write a Customer Review" rows="10" cols="100">
            </textarea>
            <button class="custom-button">Submit</button>
        </form>
        </div> 
    </div>
    <script> 

let addTo = document.querySelector("#add-to-cart")
let subtractFrom = document.querySelector('#minus')
let quantity = document.querySelector("#cart-quantity")
var x = 0

addTo.addEventListener("click", async(e) =>{
 if (localStorage.qtycount){
    localStorage.qtycount = Number(localStorage.qtycount)+1;
 }else{
    localStorage.qtycount=0
 }
    var text = quantity.textContent = localStorage.qtycount;
})

subtractFrom.addEventListener("click", async(e) =>{
 if (localStorage.qtycount){
    localStorage.qtycount = Number(localStorage.qtycount)-1;
 }else{
    localStorage.qtycount=0
 }
    var text = quantity.textContent = localStorage.qtycount;
})


    </script>
